
.card1
{
	background: blue;
	border-radius: 2px;
	margin-bottom: 10px;


}
.card2
{
	background: green;
	border-radius: 2px;
	margin-bottom: 10px;


}
.card3
{
	background: red;
	border-radius: 2px;

}